server/wsdl.wsdl

<definitions xmlns:tns="hello.wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="hello.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="let you post/retrieve online message by SOAP protocol" targetNamespace="hello.wsdl">
<!--  definition of datatypes  -->
<types>
<schema xmlns="http://www.w3.org/2000/10/XMLSchema" targetNamespace="hello.xsd">
<element name="message">
<complexType>
<all>
<element name="value" type="string"/>
</all>
</complexType>
</element>
<element name="void">
<complexType>
<sequence/>
</complexType>
</element>
</schema>
</types>
<!--  response messages  -->
<message name="returns_message">
<part name="message" type="xsd:message"/>
</message>
<!--  request messages  -->
<message name="getListOfCars">
<part name="void" type="xsd:void"/>
</message>
<!--  server's services  -->
<portType name="my SOAP forum">
<operation name="getListOfCars">
<input message="tns:getListOfCars"/>
<output message="tns:returns_message"/>
</operation>
</portType>
<!--  server encoding  -->
<binding name="my SOAP forum_webservices" type="tns:my SOAP forum">
<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="getListOfCars">
<soap:operation soapAction="urn:xmethods-delayed-quotes#getListOfCars"/>
<input>
<soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
</binding>
<!--  access to service provider  -->
<service name="exemple">
<port name="exemple_0" binding="my SOAP forum_webservices">
<soap:address location="http://192.168.0.15/~user2/SOAP/soapTask2/index.php"/>
</port>
</service>
</definitions>
